services:
  frontend:
    container_name: frontend_timer
    build: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app

  backend:
    container_name: backend_timer
    build: ./backend
    ports:
      - '3001:3001'
    volumes:
      - ./backend:/app
    depends_on:
      - db
    env_file:
      - ./backend/.env

  db:
    container_name: mongo_database
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - ./data:/data/db
